<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <div class="col-md-612 col-sm-12 col-xs-12">
    <h4 class="page-title">關於myCourse</h4>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <ol class="breadcrumb">
      <li>
        <a href="#">myCourse</a>
      </li>
      <li>
        <a href="#">常見問題</a>
      </li>
      <li>
        <a href="#">聯絡我們</a>
      </li>
      <li>
        <a href="#">使用條款</a>
      </li>
    </ol>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 pull-righ">
    <span class="pull-right">Copyright © myCourse 2020, All Rights Reserved.</span>
  </div>
</html>