<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="waves-effect"><i class=" ti-pie-chart"></i> <span> 學分總表 </span> </a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class=" ti-calendar"></i> <span> 課表管理 </span> </a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class=" ti-agenda"></i><span> 課程管理 </span> </a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class=" ti-cup"></i> <span> 成績管理 </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- Left Sidebar End -->
</html>