<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">

	<th:block layout:fragment="content">
		<script th:src="@{/js/course_table/course_table.js}"></script>
		<label for="courseSelect">課程清單</label>
		<select id="courseSelect">
			<option th:each="course:${courses}"
			        th:text="${course.courseName}" th:value="${course.courseId}"></option>
		</select>

		<br>
		<button id="addCourseToCourseTable">新增課程到課表</button>
		<table>
			<tr>
				<td>table id: </td>
				<td id="courseTableId" th:text="${courseTable.courseTableId}"></td>
			</tr>
			<tr>
				<td>table name: </td>
				<td th:text="${courseTable.courseTableName}"></td>
			</tr>
		</table>
	</th:block>
</html>