<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">
<th:block layout:fragment="content">
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container">

        <!-- Page Title -->
        <div class="row m-b-15">
          <div class="col-lg-6 col-sm-6 col-xs-12 m-b-15 pull-left">
            <h4 class="page-title">學分統計表</h4>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 m-b-15 pull-right">
            <!-- 學期選擇 -->
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">學期：</label>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option>107學年-1</option>
                    <option>107學年-2</option>
                    <option>108學年-1</option>
                    <option>108學年-2</option>
                    <option>109學年-1</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- 學分數統計 -->

        <div class="row">
          <div class="col-sm-12">
            <div class="card-box widget-inline">
              <div class="row">
                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">15</span>必修學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">16</span>選修學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">12</span>全人通識學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">12</span>必修學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col md-4 col-sm-12 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <span class="mini-stat-icon bg-success"><i class="ion-social-buffer text-white"></i></span>
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">48</span>
                      總學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">62%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67"
                               aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                            <span class="sr-only">67% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- 科目數統計 -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box widget-inline">
              <div class="row">
                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">22</span>
                      選修科目數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">22</span>
                      選修科目數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">57%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="57"
                               aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                            <span class="sr-only">57% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">10</span>
                      全人通識科目數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">70%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="70"
                               aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col md-2 col-sm-6 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">8</span>
                      其他學分數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">8%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="8"
                               aria-valuemin="0" aria-valuemax="100" style="width: 8%">
                            <span class="sr-only">8% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col md-4 col-sm-12 col-xs-12">
                  <div class="widget-inline-box text-center">
                    <span class="mini-stat-icon bg-danger"><i class="ion-android-book text-white"></i></span>
                    <div class="mini-stat-info text-right text-dark">
                      <span class="counter text-dark">52</span>
                      總科目數
                    </div>
                    <div class="tiles-progress">
                      <div class="m-t-20">
                        <h5 class="text-uppercase">已完成 <span class="pull-right">88%</span></h5>
                        <div class="progress progress-sm m-0">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88"
                               aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                            <span class="sr-only">88% Complete</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> <!-- container -->
    </div> <!-- content -->
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->
</th:block>
</html>