<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">

<th:block layout:fragment="content">
  <div style="margin-top: 80px;margin-left: 180px">
    <div th:object="${#request}">
      <h1>操作失敗，請重新操作。</h1>
      <h3 th:if="*{getAttribute('javax.servlet.error.status_code') != null}"
          th:text="'錯誤代碼：' + *{getAttribute('javax.servlet.error.status_code')}"></h3>
      <h3 th:if="*{getAttribute('message') != null}" th:text="'錯誤訊息：' + *{getAttribute('message')}"></h3>
      <a th:href="@{/}">回首頁</a><br>
    </div>
  </div>
</th:block>

</html>