<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">
<th:block layout:fragment="content">
  <div class="account-pages"></div>
  <div class="clearfix"></div>
  <div class="wrapper-page">
    <div class=" card-box">
      <div class="panel-heading">
        <h3 class="text-center"><i class="fa fa-user"></i> 重設密碼 </h3>
      </div>
      <div class="panel-body">
        <form method="post" th:action="@{/user/resetPassword}" role="form" class="text-center">
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              ×
            </button>
            請填寫<b>Email</b>我們將重新寄送密碼給您
          </div>
          <div class="form-group m-b-0">
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="請輸入註冊 Email" required="">
              <span class="input-group-btn">
									<button type="submit" class="btn btn-default w-sm waves-effect waves-light">
										Reset
									</button>
								</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</th:block>

</html>