<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">

	<th:block layout:fragment="content">
	    <h2>註冊帳號</h2>
	    <form th:action="@{/user/add}" method="post">
		    <table>
			    <tr>
				    <td><label for="account">帳號: </label></td>
				    <td><input type="text" id="account" name="account"></td>
			    </tr>
			    <tr>
				    <td><label for="pwd">密碼: </label></td>
				    <td><input type="password" id="pwd" name="password"></td>
			    </tr>
			    <tr>
				    <td><label for="nickname">姓名: </label></td>
				    <td><input type="text" id="nickname" name="nickname"></td>
			    </tr>
			    <tr>
				    <td><label for="school">學校: </label></td>
				    <td><input type="text" id="school" name="school"></td>
			    </tr>
			    <tr>
				    <td><label for="department">科系: </label></td>
				    <td><input type="text" id="department" name="department"></td>
			    </tr>
		    </table>
		    <button type="submit">確定</button>
	    </form>
	</th:block>

</html>