<!DOCTYPE html>
<html lang="zh-Hang-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout/main">
<th:block layout:fragment="content">
	<h1>reset</h1>
	<form th:action="@{/user/savePassword}" method="post">
		<label for="password">password</label>
		<input id="password" name="password" type="password" value="" />
		<label for="matchPassword">confirm</label>
		<input id="matchPassword" name="confirmPassword" type="password" value="" />
		<input type="hidden" name="token" th:value="${token}" />
		<button type="submit">submit</button>
	</form>

</th:block>

</html>